:root {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

article img {
    float: right;
}